/*** Resume styles ***/

main {
    padding-top: 0.5rem;
}

section {
    border: none;
    padding: 0;
}

h3, h4, p, dl, ul {
    margin: 0.25rem 0;
}

h5 {
    margin: 0.25rem 0 0.25rem 1rem;
}

h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

h3, h4 {
    font-size: 1.05rem;
}

h5 {
    font-size: 0.95rem;
    font-weight: normal;
}

article h2:first-child, section h2:first-child {
    margin-top: 0.5rem;
}

p, ul, dl {
    font-size: 1.05rem;
}

dt {
  display: none;
}

dd {
  margin-left: 0;
}

dd:first-of-type, dd:nth-of-type(2) {
    font-size: 0.95rem;
    font-style: italic;
}

ul {
    padding: 0;
    list-style-position: inside;
}

ul li::marker {
    content: "— ";
}

#summary {
  display: none;
}

.summary ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 0 .5rem;
}

.summary p {
    hyphens: auto;
    margin: 0 auto;
    max-width: 40rem;
}

.summary ul li::marker {
    content: none;
}

.education h3 i {
    float: right;
    font-weight: normal;
}

.education dl {
    grid: "degree date"
          "focus focus"
          "projects projects"
          / 3fr 1fr;
}

.education dd {
    font-style: italic;
}

.education dd:first-of-type {
    grid-area: date;
    place-self: end;
}

.education dd:nth-of-type(2) {
    font-weight: bold;
    grid-area: degree;
}

.education dd:nth-of-type(3) {
    grid-area: focus;
}

.education dd:nth-of-type(4) {
    grid-area: projects;
    font-size: 0.9rem;
    font-style: normal;
}

.duties h4 {
    display: none;
}

@media screen and (min-width: 40rem) {
    .summary ul {
        flex-direction: row;
        justify-content: space-between;
    }

    .summary p {
        text-align: justify;
    }

    .skills ul {
        columns: 3;
    }
}

@media print {

    @page {
        size: letter portrait;
        margin: 0.375in 0.75in 0.25in;
    }

    :root {
        font-size: 10pt;
    }

    body > header {
        border-bottom: 1pt solid #282828;
    }

    body > header h1 {
        font-size: 2rem;
        margin: 0 auto 0.5rem;
    }

    h2, h3, h4, p, dl, ul {
        margin: 0.0625rem 0;
    }

    p, dl, ul {
        font-size: 1rem;
        line-height: 1;
    }

    a, a:visited {
        color: #282828;
        text-decoration: none;
    }

    nav {
        display: none;
    }

    footer {
        display: none;
    }

    .summary ul {
        flex-direction: row;
        justify-content: space-between;
    }

    .summary p {
        text-align: justify;
    }

    .skills ul {
        columns: 3;
    }

    .position {
        break-inside: avoid;
    }
}
