/*** Resume styles ***/

main {
    padding-top: 0.5rem;
}

h2, h3, h4, p, dl, ul {
    margin: 0.25rem 0;
}

h2 {
    font-size: 1.25rem;
}

h3, h4 {
    font-size: 1.05rem;
}

p, ul, dl {
    font-size: 1.05rem;
}

dt {
  display: none;
}

dd {
  margin-left: 0;
}

dd:first-of-type, dd:nth-of-type(2) {
    font-size: 0.95rem;
    font-style: italic;
}

ul {
    padding: 0;
    list-style-position: inside;
}

ul li::marker {
    content: "— ";
}

#summary {
  display: none;
}

.summary ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 0 .5rem;
}

.summary p {
    hyphens: auto;
    margin: 0 auto;
    max-width: 40rem;
}

.summary ul li::marker {
    content: none;
}

.languages dt {
    display: unset;
}

.languages dt::after {
    content: ": "
}

.languages dd {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}

@media screen and (min-width: 40rem) {
    .summary ul {
        flex-direction: row;
        justify-content: space-between;
    }

    .summary p {
        text-align: justify;
    }

    .skills ul {
        columns: 3;
    }

    .languages dt, .languages dd {
        display: inline;
        margin-inline-start: unset;
    }
}

@media print {

    @page {
        size: letter portrait;
        margin: 0.375in 0.75in;
    }

    :root {
        font-size: 10pt;
    }

    body > header {
        border-bottom: 1pt solid #282828;
    }

    body > header h1 {
        font-size: 2rem;
        margin: 0 auto 0.5rem;
    }

    h2, h3, h4, p, dl, ul {
        margin: 0.0625rem 0;
    }

    p, dl, ul {
        font-size: 1rem;
        line-height: 1;
    }

    a, a:visited {
        color: #282828;
        text-decoration: none;
    }

    nav {
        display: none;
    }

    footer {
        display: none;
    }

    .summary ul {
        flex-direction: row;
        justify-content: space-between;
    }

    .summary p {
        text-align: justify;
    }

    .skills ul {
        columns: 3;
    }

    .position {
        break-inside: avoid;
    }

    .languages dt, .languages dd {
        display: inline;
        margin-inline-start: unset;
    }
}
